* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0 auto;
  background-color: #1a0b2e;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: white;
  box-sizing: border-box;
}
body p {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.532);
}
@media screen and (max-width: 576px) {
  .about-section,
  .count-container {
    margin: 0 20px;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 200px;
  color: white;
}
.nav-logo {
  height: 32px;
}
.nav-mid {
  display: flex;
  gap: 32px;
  justify-content: space-between;
}

.nav-mid a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.532);
}
.btn {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  border-radius: 25px;
  gap: 4px;
  background: linear-gradient(to right, #fbff00 0%, #ea00ff 100%);
  transition: all 0.5s ease-in;
  cursor: pointer;
}
.btn:hover {
  transform: scale(1.04);
}

@media screen and (max-width: 576px) {
  nav {
    justify-content: center;
  }
  .nav-mid,
  #nav-sub {
    display: none;
  }
}

.banner {
  background-image: url(assets/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  aspect-ratio: 40/19;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
.banner {
}

.banner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.banner-container h1 {
  font-size: 3.8rem;
  margin-top: 40px;
}
.mic-img-container {
  background-image: url(assets/hero-circle.png);
  height: 20.875rem;
  width: 20.875rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.mic-img {
  width: 116px;
  height: 175px;
}

.new {
  position: absolute;
  top: 2.8em;
  right: 20px;
  color: black;
  background-color: #00ff88;
  padding: 5px 10px;
  border-radius: 1.5rem;
  box-shadow: 0px 3px 14px rgba(0, 255, 136, 0.8);
}
@media screen and (max-width: 576px) {
  .mic-img-container {
    width: 200px;
    height: 200px;
    margin-top: 60px;
    position: relative;
  }
  .mic-img {
    width: 46.67px;
    height: 70px;
  }
  .new {
    position: absolute;
    top: 20px;
    right: 5px;
    scale: 0.8;
  }
}

.banner-btn-container {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: 8px;
}
.btn-subscribe {
  color: #00ff88;
  display: flex;
  gap: 8px;
  display: flex;
  align-items: center;
  padding: 12px 16px;
  border-radius: 25px;
  border: 1px solid #00ff88;
  transition: all 0.3s ease-out;
}
.btn-subscribe:hover {
  transform: scale(1.04);
}
.about-section-sect {
  padding: 120px 200px;
}
.about-section {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.about-section h1 {
  font-size: 3rem;
  margin-bottom: 16px;
}
.about-section p {
  color: rgb(157, 157, 157);
}
@media screen and (max-width: 576px) {
  .about-section {
    margin: 50px 20px;
  }
  .about-section-sect {
    padding: 20px;
  }
}
hr {
  max-width: 60%;
  margin: 50px auto;
  border-color: #95929220;
}
.count-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  text-align: center;
  gap: 5rem;
}
@media screen and (max-width: 576px) {
  .count-container {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}
.count-container h1 {
  color: #00ff88;
}
.count-container p {
  color: rgb(157, 157, 157);
}
.grid-title {
  text-align: center;
  margin: 40px auto;
}
.grid-container-section {
  padding: 120px 200px;
  background-color: rgba(35, 14, 61, 1);
}

.grid-container-section p {
  margin-top: 16px;
}
.card1,
.card2,
.card3,
.card4,
.card5 {
  background-color: rgba(53, 17, 101, 0.4);
  padding: 40px;
  border-radius: 30px;
  transition: 0.5s ease-out;
}
.card1:hover,
.card2:hover,
.card3:hover,
.card4:hover,
.card5:hover {
  transform: scale(1.01);
}

.card1 {
  grid-area: card1;
}
.card2 {
  grid-area: card2;
}
.card3 {
  grid-area: card3;
}
.card4 {
  grid-area: card4;
}
.card5 {
  grid-area: card5;
}
.grid-container {
  margin: 0 auto;
  /* max-height: 783px; */
  max-width: 1200px;
  gap: 30px;
  text-align: left;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "card1  card2  card2"
    "card1 card3 card3"
    "card4  card4 card5";
}
@media screen and (max-width: 576px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "card1"
      "card2 "
      "card3"
      "card4"
      "card5";
  }
  .grid-container-section {
    padding: 20px;
  }
}
.feature-section {
  padding: 120px 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.feature-section h1 {
  text-align: center;
}

.card-container {
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(3, 380px);
  justify-content: center;
  align-items: center;
  gap: 30px;
}

@media screen and (max-width: 576px) {
  .feature-section {
    padding: 0px;
    margin: 20px auto;
    align-items: center;
    justify-content: center;
  }
}
iframe {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card {
  background-color: rgba(37, 13, 68, 1);
  border-radius: 20px;
  transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
@media screen and (max-width: 576px) {
  .card-container {
    padding: 10px;
    grid-template-columns: 1fr;
    place-items: center;
    margin: 0 auto;
  }
  .card {
    width: 500px;
  }
  iframe {
    width: 500px;
  }
}

.card:hover {
  transform: scale(1.03);
}
.card-text {
  padding: 24px;
}
.card-text p {
  margin: 12px 0px;
}
.video-time {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #00ff88;
}
.host-part {
  margin: 120px auto;
}
.mth {
  text-align: center;
  margin-bottom: 50px;
}
.host-intro {
  width: 1200px;
  background-color: rgb(45, 25, 71);
  display: flex;
  justify-content: space-evenly;
  padding: 24px 0px;
  border-radius: 40px;
  transition: 0.6s;
}

.host-intro:hover {
  translate: 4px;
}
.host-intro-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}
.host-social-icon {
  display: flex;
  align-items: center;
  gap: 8px;
}

.host-social-icon div {
  padding: 10px;
  border: 1px solid rgb(93, 78, 112);
  border-radius: 24px;
  cursor: pointer;
}
@media screen and (max-width: 576px) {
  .mth {
    margin: 50px;
  }
  .host-part {
    place-items: center;
  }
  .host-intro {
    margin-top: 20px;
    max-width: 470px;
    flex-direction: column;
    align-items: center;
    place-items: center;
  }
  .host-intro-info {
    align-items: center;
    text-align: center;
    margin: 20px;
  }
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-image: url(assets/footer-bg.png);
  background-repeat: no-repeat;
  width: 100%;
  background-size: 100%;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  padding: 50px 0;
}

.footer-icons-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
@media screen and (max-width: 576px) {
  footer {
    background-size: 100%;
    gap: 1px;
    margin: 0;
  }
  .footer-icons-container {
    grid-template-columns: 1fr 1fr;
    gap: 4px;
    scale: 0.5;
  }
  #footer-logo {
    scale: 0.5;
    /* margin-top: 20px; */
  }
  footer p {
    font-size: 0.5rem;
  }
}

.icon-footer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.icon-footer:hover {
  translate: 0px -3px;
}
